absl-py @ file:///croot/absl-py_1714140470852/work
aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1734469393482/work
aiohttp @ file:///croot/aiohttp_1734687138658/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
astor==0.8.1
astunparse==1.6.3
async-timeout @ file:///croot/async-timeout_1732661977001/work
attrs @ file:///croot/attrs_1734533101012/work
azure-core==1.35.0
azure-identity==1.24.0
azure-storage-blob==12.26.0
bidict==0.23.1
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cachetools @ file:///croot/cachetools_1738224668060/work
certifi @ file:///croot/certifi_1754570635119/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///croot/click_1744271578095/work
cryptography @ file:///croot/cryptography_1702070282333/work
docopt==0.6.2
dpu-utils==0.6.1
flatbuffers @ file:///tmp/build/80754af9/python-flatbuffers_1614345733764/work
frozenlist @ file:///croot/frozenlist_1730902802621/work
gast @ file:///Users/ktietz/demo/mc3/conda-bld/gast_1628588903283/work
google-auth @ file:///croot/google-auth_1741275169457/work
google-auth-oauthlib==0.4.1
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
grpcio @ file:///croot/grpc-split_1742490263735/work
h5py @ file:///tmp/build/80754af9/h5py_1608649014695/work
idna==3.10
importlib_metadata @ file:///croot/importlib_metadata-suite_1732633488278/work
infercode==0.0.22
isodate==0.7.2
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
Markdown @ file:///croot/markdown_1746114451035/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
msal==1.33.0
msal-extensions==1.3.1
multidict @ file:///croot/multidict_1730905498140/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1618497246763/work
oauthlib @ file:///croot/oauthlib_1750775444608/work
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
packaging @ file:///croot/packaging_1753775359799/work
platformdirs @ file:///croot/platformdirs_1744273042065/work
pooch @ file:///croot/pooch_1731007038704/work
propcache @ file:///croot/propcache_1744012718189/work
protobuf==3.20.0
pyasn1 @ file:///croot/pyasn1_1729239786406/work
pyasn1_modules @ file:///croot/pyasn1-modules_1752042891371/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyJWT==2.10.1
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
regex==2025.7.34
requests @ file:///croot/requests_1750426329888/work
requests-oauthlib @ file:///croot/requests-oauthlib_1720615017878/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
scipy==1.10.1
sentencepiece @ file:///croot/sentencepiece_1684523560119/work/python
SetSimilaritySearch==1.0.1
six @ file:///croot/six_1744271502820/work
tensorboard @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_baze37/tensorboard_1622025863084/work/tensorboard-2.5.0-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/builder/tkoch/workspace/tensorflow/tensorboard-plugin-wit_1658918494740/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_cpu/tensorflow-base_1614360980945/work/tensorflow_pkg/tensorflow-2.4.1-cp39-cp39-linux_x86_64.whl
tensorflow-estimator @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_baze37/tensorflow-estimator_1622026529081/work/tensorflow_estimator-2.5.0-py2.py3-none-any.whl
termcolor @ file:///croot/termcolor_1668084651543/work
tqdm==4.67.1
tree-sitter-parsers==0.0.7
tree_sitter==0.19.0
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
urllib3 @ file:///croot/urllib3_1750775463400/work
Werkzeug @ file:///croot/werkzeug_1737448706492/work
wrapt @ file:///croot/wrapt_1736540904746/work
yarl @ file:///croot/yarl_1732546845924/work
zipp @ file:///croot/zipp_1732630741423/work
